#pakButton{
    border: none;
    color: red;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
  }

body{
    max-height: 1000px;
    width: auto;
    color: white;
}

.black{
    background-color: black;
}

.blue{
    background-color: blue;
}

#counter {
    color: red;
}